<h1 class="text-center pt-5">App Goes Here</h1>
<h3 class="text-center">You're logged in as <%= @current_user.email %></h3>
<p class="text-center"><%= link("Logout", to: "/session", method: :delete) %></h3>